<section class="cid-qSGxqtAEPR" id="footer1-5">
  <div class="container">
    <div class="media-container-row content text-white">
      <div class="col-12 col-md-3">
        <div class="media-wrap">

          <img src="assets/images/45d13524-6bfa-4d18-addb-6bdd7a78d06e-1-192x192.png" alt="cdb" title="cdb">

        </div>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3">
          Address
        </h5>
        <p class="mbr-text">45-47 Avenue Carnot, 94230 Cachan</p>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3">
          Contacts
        </h5>
        <p class="mbr-text">
          Email: contact@excilys.com
          <br>Phone: + 33 &nbsp;9 72 60 09 87
          <br>
        </p>
      </div>
      <div class="col-12 col-md-3 mbr-fonts-style display-7">
        <h5 class="pb-3">
          Links
        </h5>
        <p class="mbr-text">
          <a class="text-primary" href="http://www.excilys.com/">Website</a>&nbsp;
          <br>
          <br>
          <br>
        </p>
      </div>
    </div>
    <div class="footer-lower">
      <div class="media-container-row">
        <div class="col-sm-12">
          <hr>
        </div>
      </div>
      <div class="media-container-row mbr-white">
        <div class="col-sm-6 copyright">
          <p class="mbr-text mbr-fonts-style display-7">
            © Copyright 2018 Excilys - All Rights Reserved
          </p>
        </div>
        <div class="col-md-6">
          <div class="social-list align-right">
            <div class="soc-item">
              <a href="https://twitter.com/excilys?lang=fr" target="_blank">
                <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.facebook.com/GroupeExcilys" target="_blank">
                <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
              </a>
            </div>
            <div class="soc-item">
              <a href="https://www.linkedin.com/company/groupe-excilys?originalSubdomain=fr" target="_blank">
                <span class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
