<section class="section-table cid-qSGshc4hgR" id="table1-4">
  <div class="container container-table">

    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">
      Computer Database</h2>
    <mat-card class="center" (click)="goToComputers()">
      <mat-card-header>
        <img src="assets/images/computer.svg" />
        <h3 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2 h3" mat-line>Computers</h3>
      </mat-card-header>
    </mat-card>
    <mat-card class="center" (click)="goToCompanies()">
      <mat-card-header>
        <img src="assets/images/company.svg" />
        <h3 class="mbr-section-title mbr-fonts-style align-center pb-3 display-2 h3" mat-line>Companies</h3>
      </mat-card-header>
    </mat-card>
  </div>
</section>
