.center {
  text-align: center;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.btn-delete {
  background-color: brown;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
}

.btn-edit {
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 50px;
}

.h3 {
  font-size: 4rem;
  margin-top: 12px;
  font-family: Rubik;
}


p {
  font-size: 2rem;
  font-family: Rubik;
  margin-bottom: 50px;
}

i {
  vertical-align:middle;
  margin-right: 5px;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

mat-divider {
  border-width: 2px;
  border-style: solid;
  border-color: #721c24;
}
