<section class="section-table cid-qSGshc4hgR" id="table1-4">
  <div class="container container-table">

    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">
      Computers</h2>

    <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-6">Computer with id : {{computer?.id}}</h3>

    <mat-card class="center" *ngIf="computer">
      <mat-card-header>

        <h3 class="mbr-section-title mbr-fonts-style pb-3 display-2 h3" mat-line>{{ computer.name }}</h3>
        <p>Introduced: {{ computer.introduced }}</p>
        <p>Discontinued: {{ computer.discontinued }}</p>
        <p>Manufactor: {{ computer.company?.name }}</p>

      </mat-card-header>
      <mat-card-actions>

        <div>
          <button class="btn-edit" routerLink="/computers/{{ computer.id }}/update"><i class="material-icons">edit</i></button>

          <button class="btn-delete" (click)="delete(computer)"><i class="material-icons">delete</i></button>
        </div>

      </mat-card-actions>
    </mat-card>


  </div>
</section>
