<section class="section-table cid-qSGshc4hgR" id="table1-4">
  <div class="container container-table">

    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">
      Companies</h2>

    <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-6">Company with id : {{company?.id}}</h3>

    <mat-card class="center" *ngIf="company">
      <mat-card-header>

        <img mat-card-avatar [src]="company.logo">
        <h3 class="mbr-section-title mbr-fonts-style pb-3 display-2 h3" mat-line>{{ company.name }}</h3>
        <!--<mat-card-title class="mbr-section-title mbr-fonts-style pb-3 display-1">{{ company.name }}</mat-card-title>-->

      </mat-card-header>


      <img mat-card-image [src]="company.logo" alt="logo of the company">

      <mat-card-actions>

        <div>
          <button class="btn-edit" routerLink="/companies/{{ company.id }}/update"><i class="material-icons">edit</i></button>

          <button class="btn-delete" (click)="delete(company)"><i class="material-icons">delete</i></button>
        </div>

      </mat-card-actions>
    </mat-card>


  </div>
</section>

