

    <div>
     <h2>Login</h2>
    <div>

      <form [formGroup]="userForm">
        <div class="form-group">
          <label class="center-block">User
            <input class="form-control" formControlName="user">
          </label>
        </div>
      </form>

      <form [formGroup]="userForm">
        <div class="form-group">
          <label class="center-block">PassWord
            <input class="form-control" formControlName="passWord">
          </label>
        </div>

        <button >Enter</button>
        <button>t pa encore inscrit?</button>

      </form>
    </div>
  </div>






