
    <div class="formLogin">
      <form (ngSubmit)="onClickSigIn()" [formGroup]="userForm">
        <p>
          <mat-form-field appearance="outline">
            <mat-label>User</mat-label>
            <input matInput class="form-control" formControlName="user" >
            <mat-hint>user</mat-hint>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>passWord</mat-label>
            <input matInput class="form-control" formControlName="passWord" >
            <mat-hint>passWord</mat-hint>
          </mat-form-field>
        </p>

        <button  *ngIf="!isAuth"  mat-raised-button type="submit" [disabled]="userForm.invalid">
          Se connecter
        </button>
        <button (click)="onClickSignUp()">inscription </button>
      </form>
    </div>

