<section class="section-table cid-qSGshc4hgR" id="table1-4">
  <div class="container container-table">
    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">
      Companies</h2>
    <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-6">List of companies</h3>
    <div class="table-wrapper">
      <div class="container">
        <div class="row search">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="dataTables_filter">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div class="container table-info-container">
        <div class="row info">
          <div class="col-md-6">
            <div class="dataTables_info mbr-fonts-style display-7">
              <span class="infoBefore">Number of companies in total : {{companies.length}} </span>
              <a class="nav-link link text-black display-5" style="float:right;" href="#" routerLink="/companies/add">
                <span class="mbri-plus mbr-iconfont-btn"></span>
                Add company</a>
            </div>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>

      <div class="container scroll">
        <table class="table isSearch" cellspacing="0" mat-table>
          <thead>
          <tr class="table-heads ">
            <th class="head-item mbr-fonts-style display-6">ID</th>
            <th class="head-item mbr-fonts-style display-6">NAME</th>
            <th class="head-item mbr-fonts-style display-6">LOGO</th>
          </tr>
          </thead>
          <tbody *ngFor="let company of companies">
          <tr *ngIf="company">
            <td class="body-item mbr-fonts-style display-6">
              <a href="#" routerLink="/companies/{{ company.id }}">{{ company.id }}</a>
            </td>
            <td class="body-item mbr-fonts-style display-6">{{ company.name }}</td>
            <td style="text-align:center;" class="body-item mbr-fonts-style display-4">
              <div *ngIf="company.logo;else noImage">
                <img [src]="company.logo" style="height: 3rem;">
              </div>
              <ng-template #noImage> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAJFBMVEXu7u7W1tbi4uLp6enY2Njc3Nzs7Ozm5ube3t7j4+Px8fHT09N+C66kAAACFElEQVR4nO3c0XKiMABA0QJREf7/f7crahCxjTw0JJ7T6YOx03IHrRCDX18AAAAAAAAAAAAAAAAAAPCJurY9t0m+f6zLvbVbtGOTbGxzb+0WbXpg0xRZeH6n8Jx7a7eofx8qVLh/ChXu31R4iEIMCrPhwgtDN9xuD+14b+zjaBdKL4wDfdyHfRytqXB62Ibvr1oL69+HCouj8Erhjn1M4XA3O1Dt4+ix8MKmGe+ameVoyYVpFO6Swo8s7E5J9vImx3phWL89FR6S3uoY2+GXP/1HNuzDQ9LP7uZtnGthWO6114XHtMLdPGmf9uFK6n2ojsJpAuOnjU59HmYuu5mOS8/dXR8DD3H0NDsu7dIcM5fdvJiJuoiziRWcW8SBWs+e4oDC4mwoLP0/za+Fxz4k2cuyhg2FJb7iv3q1iKPVFYbLd52Fw+or/lB8YR/X5822P8zW9BVemEqhwiwUKlSY30cWPk1E1TfX9qq05MK1lXvhxcq9IgsfVu7FbazpyPvpDPgSVOfZ0wec4ytUqPDPKbyqsrCy2cQ3Vu49FI4PmrGJh7O7Klys0Qsr29+sFp6GB1/D7L6dFb7xwHsoXP46hRkoVLigMAOFChcUZqBQ4YLCDBQqXFCYgcIKCt/+vLZjvN5iXBbucSaqS/3Ivf8fujdNq57i0NP1aT/dl8sbV5jt5GI0AAAAAAAAAAAAAAAAAACK9g8n9CXxUcUZDQAAAABJRU5ErkJggg==" style="height: 4rem;"></ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="center">
      <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
      </div>
    </div>
  </div>
</section>
