.formLogin {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-bottom: 100px;
}

mat-form-field {
  margin: 10px;
}

button {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

