

<div>
  <h2>Ajout Utilisateur</h2>
  <div>

    <form [formGroup]="userForm">
      <div class="form-group">
        <label class="center-block">User
          <input class="form-control" formControlName="name">
        </label>
      </div>
    </form>

    <form [formGroup]="userForm">
      <div class="form-group">
        <label class="center-block">PassWord
          <input class="form-control" formControlName="passWord">
        </label>
      </div>

      <form [formGroup]="userForm">
        <div class="form-group">
          <label class="center-block">PassWord2
            <input class="form-control" formControlName="passWord2">
          </label>
        </div>
      </form>

      <button routerLink="/login/">Retour</button>
      <button>Ajout</button>

    </form>
  </div>
</div>






