<section class="section-table cid-qSGshc4hgR" id="table1-4">
<div class="formUpdate">
  <form (ngSubmit)="onSubmit()" [formGroup]="companyForm">
    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">
      Companies</h2>
    <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-6">Update a company : {{company?.id}}</h3>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput id="name" formControlName="name" name="name" value="{{company?.name}}">
        <mat-hint>Company's name</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Logo</mat-label>
        <input matInput id="logo" formControlName="logo" name="logo" value="{{company?.logo}}">
        <mat-hint>Company's logo</mat-hint>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit" [disabled]="companyForm.invalid">
      Submit
    </button>
    <button mat-raised-button routerLink="/companies">
      Go back
    </button>
  </form>
</div>
</section>
