.formUpdate {
  display: flex;
  margin: auto;
  margin-top: 150px;
  justify-content: center
}

button {
  margin: 10px;
}

mat-form-field {
  margin: 10px;
}

h3 {
    margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
}
