.pagination {
  display: inline-block;
}

.center {
  text-align: center;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: maroon;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.infoBefore {
  font-size: 1.8rem;
}

.checkbox-a {
  width: 100px;
}

.cid {
  width: 100px;
}

.cname {
  width: 700px;
}

th {
  color: black;
  font-weight: bold;
  font-family: Rubik ;
}

.material-icons {
  font-size: 2.6rem;
  vertical-align: middle;

  color: #721c24;
}
