<section class="section-table cid-qSGshc4hgR" id="table1-4">
  <div class="container container-table">
    <h2 class="mbr-section-title mbr-fonts-style align-center pb-3 display-1">
      Computers</h2>
    <h3 class="mbr-section-subtitle mbr-fonts-style align-center pb-5 mbr-light display-6">List of computers</h3>
    <div class="table-wrapper">
      <div class="container">
        <div class="row search">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="dataTables_filter">
              <label class="searchInfo mbr-fonts-style display-6">Search:</label>
              <input type="search" class="form-control input-sm" (keyup)="applyFilter($event.target.value)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container table-info-container">
      <div class="row info">
        <div class="col-md-6">
          <div class="dataTables_info mbr-fonts-style display-7">
            <span class="infoBefore">Number of computers : {{computers.length}} </span>
            <button class="add" mat-button routerLink="/computers/add" *ngIf="isConnected()" style="float:right;">
              <i class="material-icons">
                add_circle_outline
              </i>
              Add a computer
            </button>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </div>
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container">
        <table mat-table [dataSource]="dataSource" class="table-hover" matSort matSortDirection="desc">

          <ng-container matColumnDef="select" class="checkbox-a" (deleteR)="delete($event)">
            <th mat-header-cell *matHeaderCellDef class="checkbox-a">

              <button *ngIf="isConnected()" class="btn-delete" (click)="deleteMultiple()">
                <i class="material-icons delete">
                  delete_forever</i>
              </button>

            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="cid">ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
            <td mat-cell *matCellDef="let row" class="cname">{{ row.name }}</td>
          </ng-container>
          <ng-container matColumnDef="introduced">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>INTRODUCED</th>
            <td mat-cell *matCellDef="let row" class="cintroduced">{{ row.introduced }}</td>
          </ng-container>
          <ng-container matColumnDef="discontinued">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DISCONTINUED</th>
            <td mat-cell *matCellDef="let row" class="cdiscontinued">{{ row.discontinued }}</td>
          </ng-container>
          <ng-container matColumnDef="manufactor">
            <th mat-header-cell *matHeaderCellDef>MANUFACTOR</th>
            <td mat-cell *matCellDef="let row" class="ccompany">
              {{ row.company?.name }}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row.id)"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</section>
